.loading {
  width: 200px;
  height: 200px;
  position: relative;
}

.loading::before,
.loading::after {
  content: '';
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: loading 1.5s infinite linear;
}

.loading::after {
  animation-delay: 0.75s;
}

@keyframes loading {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}